.feed{
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.petition-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}